:root {
    --palm-green: #152517;
    --geebung: #c49102;
    --white: #ffffff;
    --black: #000000;
}

body {
    background-color: var(--palm-green);
    font-family: 'DM Sans', sans-serif;
    color: var(--white);
}

.header {
    display: flex;
    font-family: 'norwester', sans-serif;
    justify-content: space-around;
    gap: 40%;
    align-items: center;
    height: 50px;
    background-color: var(--palm-green);
    border-bottom: 4px solid var(--geebung);
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu {
    display: flex;
    gap: 1.5rem;
}

.mobile-menu-container{
    display: none;
}

.mobile-menu-container--image {
    display: none;
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 1.5rem; /* Ajusta el espacio entre los elementos según sea necesario */
}

.menu-container--cta .nav-separator{
    display: inline-block;
    margin-right: 1.5rem;
    width: 2px;
    height: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/icons/navSeparetor.svg");
}

.menu-container ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}


.menu-container ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    transition: color 0.3s ease;
}

.menu-container ul li a:hover {
    color: var(--geebung);
}

.menu-container--cta {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-container--cta button {
    font-family: 'norwester', sans-serif;
    background-color: var(--palm-green);
    color: var(--white);
    padding: 0px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.mobile-menu-container{
    display: none;
}

.menu-container--cta button:hover {
    color: var(--geebung);
}

.hero-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 4rem;
    gap: 5rem;
}

.hero-content {
    max-width: 50%;
    text-align: left;
}

.hero-content h1 {
    font-family: 'Norwester', sans-serif;
    font-size: 6rem;
    font-weight: lighter;
}

.hero-subtitle {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -50px;
}

.hero-text {
    font-size: 1.2rem;
    text-align:left;
}

.cta-buttons {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    justify-content: left;
}

.cta-button {
    padding: 8px 36px;
    border-radius: 6px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight:700;
}

.cta-button.primary {
    background-color: var(--geebung);
    color: var(--white);
}

.cta-button.secondary {
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
}

.social-icons {
    display: none;

}

.hero-image {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 100%;
    height: auto;
}
